:root {

  --font-family-sans-serif: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
}
/*background colors*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link, .btn, .btn:hover, .footer{  
  background-color: #006d77;
  /*background-color: #7c316c;*/
}

/*text colors*/
.nav-link:hover, .nav-link:focus, .dropdown-item:hover, .dropdown-item:focus, .mb-0{
  color: #006d77;
  /*color: #7c316c;*/
}

.btn-link, .btn-link:hover{
  border-width: 0;
  background-color: transparent;
  color: #000;
}

.btn, .btn:hover {
  border-color: #006d77;
  /*border-color: #7c316c;*/
}
  
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 3.5rem;
  margin-bottom: 180px; /* Margin bottom by footer height */
}

.container {
  width: auto;
  max-width: 1024px;
  padding: 15px 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  color: #FFFFFF;
}


.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
}

.nav-link.disabled {
  color: #6c757d;
}

.nav-link {
  color: #000;
}

.container-fluid{
  max-height: 100% 
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-menu {
  margin: -0.125rem 0 0;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  margin-top: 5px;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

/*.faq[aria-expanded="false"]:before{
  content:"\005E";
  align-self: right;
}

.faq[aria-expanded="true"]:before{
  content:"[ View Less ]";
}*/

.rotate {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: right top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right top;
    -o-transform: rotate(-90deg);
    -o-transform-origin: right top;
    transform: rotate(-90deg) translateX(-50%) translateY(50%);
    transform-origin: right top;

    position: absolute;
    top: -303%;
    right: 120%;
    width: 290px;
    text-align: center;
    white-space: pre-wrap;    
    font-size: x-small;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */


.rotate-carousel {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: right top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right top;
    -o-transform: rotate(-90deg);
    -o-transform-origin: right top;
    transform: rotate(-90deg) translateX(-50%) translateY(50%);
    transform-origin: right top;

    position: absolute;
    top: -175%;
    right: 120%;
    width: 400px;
    text-align: center;
    white-space: nowrap;    
    font-size: x-small;
}

.carousel-credit {
  font-size: small;
  color: #6c757d !important;
  margin: 2rem 10px;
}

.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
 /* background-color: #006d77;
  opacity:0.6;8*/
  padding-left: 20px;
  padding-right: 20px;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  filter: brightness(50%);
  object-fit: cover;
}


.carousel-item-small {
  height: 20rem;
}

.carousel-item-small > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 20rem;
  filter: brightness(50%);
  object-fit: cover;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }