<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}{% endblock title %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

	<script src= 
	'/js/bootstrap.min.js'> 
</script> 
	<!--<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>-->


	<!-- Custom styles for this template -->
	<link href="/css/jumbotron.css" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
			<span class="navbar-brand">
				<img src="/img/logo-petrol.png" alt="" height="60px">
			</span>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="nav nav-pills">
						<a id="home" class="nav-item nav-link active" href="/">Home</a>
						<a id="about" class="nav-item nav-link" href="/about">About EMCL++</a>
						<a id="admission" class="nav-item nav-link" href="/admission">Admission</a>
						<a id="partners" class="nav-item nav-link" href="/partners">Associated Partners</a>
					<li class="nav-item dropdown">
							<a id="students" class="nav-link dropdown-toggle" href="/students/" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">Student Corner</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<!--<a class="dropdown-item" href="/students/faq">FAQ</a>-->
								<a class="dropdown-item" href="/students/modules">Modules</a>
								<a class="dropdown-item" href="/students/courses">Courses</a>
								<!--a class="dropdown-item" href="/students/staff">Teaching Staff</a>-->
								<a class="dropdown-item" href="/students/alumni">Alumni</a>
							</div>
					</li>
				</ul>
				<ul class="nav nav-pills ml-auto">
					<li class="nav-item">
						<a id="contact" class="nav-link" href="/contact">Contact</a>
					</li>
				</ul>

			</div>
		</nav>
	</header>
	<main role="main" class="flex-shrink-0">
		{% block content %}{% endblock content %}
	</main>

	<footer class="footer">
		<div class="container-fluid">
			<div class="row align-items-center" style="height: 180px">
				<div class="col-2" style="vertical-align: bottom;">
							<div class="row" style="height: 100px">
							</div>
							<div class="row" style="height: 80px">
							<img src="/img/eu-left-white.png" class="img-fluid" alt="Logo EU" style="max-height: 40px">
						</div>
				</div>

				<div class="col-1">
				</div>
				<div class="col-2" style="vertical-align:middle;">
					<a href="https://www.rug.nl"><img src="/img/RUGWhite.png" class="img-fluid" alt="Logo University of Groningen" style="max-height: 100px"></a>
				</div>
				<div class="col-2 text-center" style="vertical-align:middle;">
					<a href="https://www.uef.fi/en/"><img src="/img/uef.png" class="img-fluid" alt="Logo University of Eastern Finland" style="max-height: 100px"></a>
				</div>
				<div class="col-2 text-right" style="vertical-align: middle;">
					<a href="https://www.ugent.be/en"><img src="/img/UGentWhite.png" class="img-fluid" alt="Logo University of Ghent" style="max-height: 100px"></a>
				</div>
				<div class="col-3">
				</div>
			</div>
			<div class="row align-items-center" style="height: 30px; background: #006d77; text-align: center">
				<div class="col-sm" style="text-align: center">
				<a href="/legal" style="color: #fff;">Legal Notices</a>
			</div>
			</div>
		</div>
	</footer>

	</html>